@{
    Layout = "~/Views/Shared/_NoLayout.cshtml";
}


@model IEnumerable<Domain.DomainEntity.ProgItem>
<table id="main">
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descr)
        </td>

        @if (HttpContext.Current.User.Identity.IsAuthenticated)
        {
            <td>
                @Html.ActionLink("Episodes", "Episodes", new { id = item.Name }) |
                @Html.ActionLink("Edit", "Edit", new { id = item.Name }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Name })
            </td>
        }
        
        @if (!HttpContext.Current.User.Identity.IsAuthenticated)
        {
            <td>
                @Html.ActionLink("Episodes", "Episodes", new { id = item.Name }) 

            </td>
        }
            
    </tr>
}

</table>



