@model IEnumerable<Domain.DomainEntity.ProgItem>

@{
    ViewBag.Title = "List Proposal";
}

<h2>List of proposed User</h2>

<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Descr
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descr)
        </td>

        @if (HttpContext.Current.User.Identity.IsAuthenticated)
        {
        <td>
                @Html.ActionLink("Episodes", "EpisodesProposal"       , new { id = item.Name }) |
                @Html.ActionLink("Edit"    , "EditProposal"   , new { id = item.Name }) |
                @Html.ActionLink("Accept"  , "AcceptProposal" , new { id = item.Name }) |
                @Html.ActionLink("Delete"  , "CancelProposal" , new { id = item.Name })
        </td>
        }
        
        @if (!HttpContext.Current.User.Identity.IsAuthenticated)
        {
        <td>
                @Html.ActionLink("Episodes", "Episodes", new { id = item.Name }) 

        </td>
        }
            
    </tr>
}

</table>

