@model Domain.DomainEntity.User

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<fieldset>
    <legend>User</legend>

    <div class="display-label">Nickname</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nickname)
    </div>

    <div class="display-label">Image</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Image)
    </div>

    <div class="display-label">Password</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Password)
    </div>

    <div class="display-label">Email</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id=Model.Nickname }) |
    @Html.ActionLink("Back to List", "Index")
</p>
